TwitchBot/16x32RGBMatrix/Wemos_RGB_Matrix_16x32_MQTT_Serial/RGBMatrixControl.json
[
    {
        "id": "f806f80e.010c78",
        "type": "group",
        "z": "5965f25e.13178c",
        "name": "Commandes ! ",
        "style": {
            "stroke": "#000000",
            "fill": "#b797cf",
            "fill-opacity": "0.4",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "a9de6579.0ca538",
            "86bd9daf.43929",
            "74ec64b7.aa2b7c",
            "536873f7.14658c",
            "84c59643.326e98",
            "928afecd.f731f"
        ],
        "x": 54,
        "y": 159,
        "w": 802,
        "h": 122
    },
    {
        "id": "a9de6579.0ca538",
        "type": "tmi-event-message",
        "z": "5965f25e.13178c",
        "g": "f806f80e.010c78",
        "config": "",
        "name": "Chat ",
        "channels_filter": "",
        "users_filter": "",
        "action": false,
        "chat": true,
        "whisper": false,
        "regular": true,
        "mod": true,
        "subscriber": true,
        "broadcaster": true,
        "message_regexp": "!",
        "message_flags": "",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "74ec64b7.aa2b7c"
            ]
        ]
    },
    {
        "id": "86bd9daf.43929",
        "type": "tmi-command-action",
        "z": "5965f25e.13178c",
        "g": "f806f80e.010c78",
        "config": "",
        "name": "",
        "x": 780,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "74ec64b7.aa2b7c",
        "type": "function",
        "z": "5965f25e.13178c",
        "g": "f806f80e.010c78",
        "name": "Split CMD + Set Channel",
        "func": "msg.payload.cmd = msg.payload.message.toLowerCase().split(\" \");\nmsg.payload.username = msg.payload.userstate.username;\nmsg.payload.channel = \"channel\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 220,
        "wires": [
            [
                "536873f7.14658c"
            ]
        ]
    },
    {
        "id": "536873f7.14658c",
        "type": "switch",
        "z": "5965f25e.13178c",
        "g": "f806f80e.010c78",
        "name": "Switch cmd",
        "property": "payload.cmd[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "!matrix",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "84c59643.326e98"
            ]
        ]
    },
    {
        "id": "84c59643.326e98",
        "type": "function",
        "z": "5965f25e.13178c",
        "g": "f806f80e.010c78",
        "name": "Matrix",
        "func": "const dim = 1;\nconst input = msg.payload.cmd;\nlet colors = {\n  \"aliceblue\": [240, 248, 255, 1],\n  \"antiquewhite\": [250, 235, 215, 1],\n  \"aqua\": [0, 255, 255, 1],\n  \"aquamarine\": [127, 255, 212, 1],\n  \"azure\": [240, 255, 255, 1],\n  \"beige\": [245, 245, 220, 1],\n  \"bisque\": [255, 228, 196, 1],\n  \"black\": [0, 0, 0, 1],\n  \"blanchedalmond\": [255, 235, 205, 1],\n  \"blue\": [0, 0, 255, 1],\n  \"blueviolet\": [138, 43, 226, 1],\n  \"brown\": [165, 42, 42, 1],\n  \"burlywood\": [222, 184, 135, 1],\n  \"cadetblue\": [95, 158, 160, 1],\n  \"chartreuse\": [127, 255, 0, 1],\n  \"chocolate\": [210, 105, 30, 1],\n  \"coral\": [255, 127, 80, 1],\n  \"cornflowerblue\": [100, 149, 237, 1],\n  \"cornsilk\": [255, 248, 220, 1],\n  \"crimson\": [220, 20, 60, 1],\n  \"cyan\": [0, 255, 255, 1],\n  \"darkblue\": [0, 0, 139, 1],\n  \"darkcyan\": [0, 139, 139, 1],\n  \"darkgoldenrod\": [184, 134, 11, 1],\n  \"darkgray\": [169, 169, 169, 1],\n  \"darkgreen\": [0, 100, 0, 1],\n  \"darkgrey\": [169, 169, 169, 1],\n  \"darkkhaki\": [189, 183, 107, 1],\n  \"darkmagenta\": [139, 0, 139, 1],\n  \"darkolivegreen\": [85, 107, 47, 1],\n  \"darkorange\": [255, 140, 0, 1],\n  \"darkorchid\": [153, 50, 204, 1],\n  \"darkred\": [139, 0, 0, 1],\n  \"darksalmon\": [233, 150, 122, 1],\n  \"darkseagreen\": [143, 188, 143, 1],\n  \"darkslateblue\": [72, 61, 139, 1],\n  \"darkslategray\": [47, 79, 79, 1],\n  \"darkslategrey\": [47, 79, 79, 1],\n  \"darkturquoise\": [0, 206, 209, 1],\n  \"darkviolet\": [148, 0, 211, 1],\n  \"deeppink\": [255, 20, 147, 1],\n  \"deepskyblue\": [0, 191, 255, 1],\n  \"dimgray\": [105, 105, 105, 1],\n  \"dimgrey\": [105, 105, 105, 1],\n  \"dodgerblue\": [30, 144, 255, 1],\n  \"firebrick\": [178, 34, 34, 1],\n  \"floralwhite\": [255, 250, 240, 1],\n  \"forestgreen\": [34, 139, 34, 1],\n  \"fuchsia\": [255, 0, 255, 1],\n  \"gainsboro\": [220, 220, 220, 1],\n  \"ghostwhite\": [248, 248, 255, 1],\n  \"gold\": [255, 215, 0, 1],\n  \"goldenrod\": [218, 165, 32, 1],\n  \"gray\": [128, 128, 128, 1],\n  \"green\": [0, 128, 0, 1],\n  \"greenyellow\": [173, 255, 47, 1],\n  \"grey\": [128, 128, 128, 1],\n  \"honeydew\": [240, 255, 240, 1],\n  \"hotpink\": [255, 105, 180, 1],\n  \"indianred\": [205, 92, 92, 1],\n  \"indigo\": [75, 0, 130, 1],\n  \"ivory\": [255, 255, 240, 1],\n  \"khaki\": [240, 230, 140, 1],\n  \"lavender\": [230, 230, 250, 1],\n  \"lavenderblush\": [255, 240, 245, 1],\n  \"lawngreen\": [124, 252, 0, 1],\n  \"lemonchiffon\": [255, 250, 205, 1],\n  \"lightblue\": [173, 216, 230, 1],\n  \"lightcoral\": [240, 128, 128, 1],\n  \"lightcyan\": [224, 255, 255, 1],\n  \"lightgoldenrodyellow\": [250, 250, 210, 1],\n  \"lightgray\": [211, 211, 211, 1],\n  \"lightgreen\": [144, 238, 144, 1],\n  \"lightgrey\": [211, 211, 211, 1],\n  \"lightpink\": [255, 182, 193, 1],\n  \"lightsalmon\": [255, 160, 122, 1],\n  \"lightseagreen\": [32, 178, 170, 1],\n  \"lightskyblue\": [135, 206, 250, 1],\n  \"lightslategray\": [119, 136, 153, 1],\n  \"lightslategrey\": [119, 136, 153, 1],\n  \"lightsteelblue\": [176, 196, 222, 1],\n  \"lightyellow\": [255, 255, 224, 1],\n  \"lime\": [0, 255, 0, 1],\n  \"limegreen\": [50, 205, 50, 1],\n  \"linen\": [250, 240, 230, 1],\n  \"magenta\": [255, 0, 255, 1],\n  \"maroon\": [128, 0, 0, 1],\n  \"mediumaquamarine\": [102, 205, 170, 1],\n  \"mediumblue\": [0, 0, 205, 1],\n  \"mediumorchid\": [186, 85, 211, 1],\n  \"mediumpurple\": [147, 112, 219, 1],\n  \"mediumseagreen\": [60, 179, 113, 1],\n  \"mediumslateblue\": [123, 104, 238, 1],\n  \"mediumspringgreen\": [0, 250, 154, 1],\n  \"mediumturquoise\": [72, 209, 204, 1],\n  \"mediumvioletred\": [199, 21, 133, 1],\n  \"midnightblue\": [25, 25, 112, 1],\n  \"mintcream\": [245, 255, 250, 1],\n  \"mistyrose\": [255, 228, 225, 1],\n  \"moccasin\": [255, 228, 181, 1],\n  \"navajowhite\": [255, 222, 173, 1],\n  \"navy\": [0, 0, 128, 1],\n  \"oldlace\": [253, 245, 230, 1],\n  \"olive\": [128, 128, 0, 1],\n  \"olivedrab\": [107, 142, 35, 1],\n  \"orange\": [255, 165, 0, 1],\n  \"orangered\": [255, 69, 0, 1],\n  \"orchid\": [218, 112, 214, 1],\n  \"palegoldenrod\": [238, 232, 170, 1],\n  \"palegreen\": [152, 251, 152, 1],\n  \"paleturquoise\": [175, 238, 238, 1],\n  \"palevioletred\": [219, 112, 147, 1],\n  \"papayawhip\": [255, 239, 213, 1],\n  \"peachpuff\": [255, 218, 185, 1],\n  \"peru\": [205, 133, 63, 1],\n  \"pink\": [255, 192, 203, 1],\n  \"plum\": [221, 160, 221, 1],\n  \"powderblue\": [176, 224, 230, 1],\n  \"purple\": [128, 0, 128, 1],\n  \"red\": [255, 0, 0, 1],\n  \"rosybrown\": [188, 143, 143, 1],\n  \"royalblue\": [65, 105, 225, 1],\n  \"saddlebrown\": [139, 69, 19, 1],\n  \"salmon\": [250, 128, 114, 1],\n  \"sandybrown\": [244, 164, 96, 1],\n  \"seagreen\": [46, 139, 87, 1],\n  \"seashell\": [255, 245, 238, 1],\n  \"sienna\": [160, 82, 45, 1],\n  \"silver\": [192, 192, 192, 1],\n  \"skyblue\": [135, 206, 235, 1],\n  \"slateblue\": [106, 90, 205, 1],\n  \"slategray\": [112, 128, 144, 1],\n  \"slategrey\": [112, 128, 144, 1],\n  \"snow\": [255, 250, 250, 1],\n  \"springgreen\": [0, 255, 127, 1],\n  \"steelblue\": [70, 130, 180, 1],\n  \"tan\": [210, 180, 140, 1],\n  \"teal\": [0, 128, 128, 1],\n  \"thistle\": [216, 191, 216, 1],\n  \"tomato\": [255, 99, 71, 1],\n  \"transparent\": [0, 0, 0, 0],\n  \"turquoise\": [64, 224, 208, 1],\n  \"violet\": [238, 130, 238, 1],\n  \"wheat\": [245, 222, 179, 1],\n  \"white\": [255, 255, 255, 1],\n  \"whitesmoke\": [245, 245, 245, 1],\n  \"yellow\": [255, 255, 0, 1],\n  \"yellowgreen\": [154, 205, 50, 1],\n  \"rebeccapurple\": [102, 51, 153, 1]\n}\n\nfunction hexToRGB(h) {\n  let out = {\"r\":0,\"g\":0,\"b\":0};\n  // 3 digits\n  if (h.length == 4) {\n    out.r = parseInt(\"0x\" + h[1] + h[1]);\n    out.g = parseInt(\"0x\" + h[2] + h[2]);\n    out.b = parseInt(\"0x\" + h[3] + h[3]);\n  // 6 digits\n  } else if (h.length == 7) {\n    out.r = parseInt(\"0x\" + h[1] + h[2]);\n    out.g = parseInt(\"0x\" + h[3] + h[4]);\n    out.b = parseInt(\"0x\" + h[5] + h[6]);\n  }\n  return out;\n}\n\nfunction HSVtoRGB(h, s, v) {\n    var r, g, b, i, f, p, q, t;\n    if (arguments.length === 1) {\n        s = h.s, v = h.v, h = h.h;\n    }\n    i = Math.floor(h * 6);\n    f = h * 6 - i;\n    p = v * (1 - s);\n    q = v * (1 - f * s);\n    t = v * (1 - (1 - f) * s);\n    switch (i % 6) {\n        case 0: r = v, g = t, b = p; break;\n        case 1: r = q, g = v, b = p; break;\n        case 2: r = p, g = v, b = t; break;\n        case 3: r = p, g = q, b = v; break;\n        case 4: r = t, g = p, b = v; break;\n        case 5: r = v, g = p, b = q; break;\n    }\n    return {\n        r: Math.round(r * 255),\n        g: Math.round(g * 255),\n        b: Math.round(b * 255)\n    };\n}\n\nfunction randomInteger(min, max) {\n   return Math.floor(Math.random() * (max - min) + min);\n}\n\n\nif(input.length < 4 || (input.length > 4 && input.length<6)){\n    msg.payload.message = \"Commande incomplète rajoutez les coordonées X Y et la couleur : !matrix 1 2 red ou !matrix 3 4 #FF0000 ou !matrix 5 6 255 0 0\";\n    return msg;\n} \n    \nif (input.length === 4){\n    let rgb={\"r\":0,\"g\":0,\"b\":0};\n    \n    if(input[3][0]===\"#\"){\n        rgb = hexToRGB(input[3]);\n    }\n    \n    else if(input[3]===\"random\"){\n        rgb = HSVtoRGB(randomInteger(0,100)/100,1,1);\n    }\n    else{\n        rgb.r = colors[input[3]][0];\n        rgb.g = colors[input[3]][1];\n        rgb.b = colors[input[3]][2];\n    }\n    \n    msg.payload =  {\"X\": input[1], \"Y\": input[2], \"R\": Math.round(rgb.r/dim), \"G\": Math.round(rgb.g/dim), \"B\":Math.round(rgb.b/dim)};\n    return msg;\n}\n    \nelse{\n    msg.payload =  {\"X\": input[1], \"Y\": input[2], \"R\": Math.round(input[3]/dim), \"G\": Math.round(input[4]/dim), \"B\":Math.round(input[5]/dim)};\n    return msg;\n}\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 220,
        "wires": [
            [
                "86bd9daf.43929",
                "928afecd.f731f"
            ]
        ]
    },
    {
        "id": "928afecd.f731f",
        "type": "mqtt out",
        "z": "5965f25e.13178c",
        "g": "f806f80e.010c78",
        "name": "Matrix",
        "topic": "domotique/kallax/16x32",
        "qos": "",
        "retain": "",
        "broker": "bb09b041.d6734",
        "x": 780,
        "y": 240,
        "wires": []
    },
    {
        "id": "bb09b041.d6734",
        "type": "mqtt-broker",
        "name": "Local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]