TwitchBot/Messages/simplemessages.json
[
    {
        "id": "45339590.1dc17c",
        "type": "group",
        "z": "b1554d06.51b42",
        "name": "Commandes ! ",
        "style": {
            "stroke": "#000000",
            "fill": "#b797cf",
            "fill-opacity": "0.4",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "236112bc.a112be",
            "4c1820d6.fae0a",
            "f92c6d60.be0f4",
            "2b571c5e.68e874",
            "51fd9c7a.0f69c4",
            "2a386746.f3c098",
            "87c175f9.af8398",
            "de03de7b.b2e0b"
        ],
        "x": 74,
        "y": 69,
        "w": 872,
        "h": 202
    },
    {
        "id": "236112bc.a112be",
        "type": "tmi-event-message",
        "z": "b1554d06.51b42",
        "g": "45339590.1dc17c",
        "config": "",
        "name": "Chat ",
        "channels_filter": "ioodyme",
        "users_filter": "",
        "action": false,
        "chat": true,
        "whisper": false,
        "regular": true,
        "mod": true,
        "subscriber": true,
        "broadcaster": true,
        "message_regexp": "!",
        "message_flags": "",
        "x": 150,
        "y": 170,
        "wires": [
            [
                "51fd9c7a.0f69c4"
            ]
        ]
    },
    {
        "id": "4c1820d6.fae0a",
        "type": "function",
        "z": "b1554d06.51b42",
        "g": "45339590.1dc17c",
        "name": "RS",
        "func": "msg.payload.message = \"\\\n    Les réseaux sociaux de Neodyme sont : \\\n    youtube.com/NeodymeTV \\\n    twitter.com/tNeodyme \\\n    github.com/n3odym3 \\\n    discord.gg/WnFzwWhvUb \\\n\";\nreturn msg;\n    ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 150,
        "wires": [
            [
                "f92c6d60.be0f4"
            ]
        ]
    },
    {
        "id": "f92c6d60.be0f4",
        "type": "tmi-command-action",
        "z": "b1554d06.51b42",
        "g": "45339590.1dc17c",
        "config": "",
        "name": "",
        "x": 870,
        "y": 170,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2b571c5e.68e874",
        "type": "function",
        "z": "b1554d06.51b42",
        "g": "45339590.1dc17c",
        "name": "Help",
        "func": "msg.payload.message = \"Les commandes actuellement disponibles sont : [!rs][!alerte][!ok]\"\n   \nif(global.get(\"LED\") === true){\n    msg.payload.message += \"[!led] \"; \n}\nif(global.get(\"CADRE\") === true){\n    msg.payload.message += \"[!cadre] \"; \n}\nif(global.get(\"MATRIX\") === true){\n    msg.payload.message += \"[!matrix] \"; \n}\n\nnode.send(msg);\n\nmsg.payload.message =\"\\\nN'oubliez pas de bien dire bonjour/bonsoir à @bot_ioodyme ;) \";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 110,
        "wires": [
            [
                "f92c6d60.be0f4"
            ]
        ]
    },
    {
        "id": "51fd9c7a.0f69c4",
        "type": "function",
        "z": "b1554d06.51b42",
        "g": "45339590.1dc17c",
        "name": "Split CMD + Set Channel",
        "func": "msg.payload.cmd = msg.payload.message.toLowerCase().split(\" \");\nmsg.payload.username = msg.payload.userstate.username;\nmsg.payload.channel = \"channel\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 170,
        "wires": [
            [
                "2a386746.f3c098"
            ]
        ]
    },
    {
        "id": "2a386746.f3c098",
        "type": "switch",
        "z": "b1554d06.51b42",
        "g": "45339590.1dc17c",
        "name": "Switch cmd",
        "property": "payload.cmd[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "!help",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "!rs",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "!ref",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "!discord",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 530,
        "y": 170,
        "wires": [
            [
                "2b571c5e.68e874"
            ],
            [
                "4c1820d6.fae0a"
            ],
            [
                "87c175f9.af8398"
            ],
            [
                "de03de7b.b2e0b"
            ]
        ]
    },
    {
        "id": "87c175f9.af8398",
        "type": "function",
        "z": "b1554d06.51b42",
        "g": "45339590.1dc17c",
        "name": "REF",
        "func": "msg.payload.message = \"Les liens utiles pour ce live sont : \";\n\nmsg.payload.message +=\"REF1 \";\nmsg.payload.message +=\"REF2 \";\nmsg.payload.message +=\"REF3 \";\nmsg.payload.message +=\"REF4 \";\nmsg.payload.message +=\"... \";\n\nreturn msg;\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 190,
        "wires": [
            [
                "f92c6d60.be0f4"
            ]
        ]
    },
    {
        "id": "de03de7b.b2e0b",
        "type": "function",
        "z": "b1554d06.51b42",
        "g": "45339590.1dc17c",
        "name": "!discord",
        "func": "msg.payload.message = \"Le lien du discord est :  LIEN\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 710,
        "y": 230,
        "wires": [
            [
                "f92c6d60.be0f4"
            ]
        ]
    }
]